html, body {
    height: 80%;
    margin: 0; /* Убираем отступы по краям страницы */
    padding: 0; /* Убираем внутренние отступы */
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для текста */
    background-color: #140000; /* Задаем основной цвет фона */
    background-image: url('/static/back.jpg'); /* Устанавливаем фоновое изображение */
    background-size: cover; /* Масштабируем изображение, чтобы оно покрывало весь экран */
    background-position: center; /* Центрируем фоновое изображение */
    background-repeat: no-repeat; /* Запрещаем повторение изображения */
    background-attachment: fixed; /* Фиксируем изображение при прокрутке */
    color: #a1adad; /* Устанавливаем основной цвет текста */
    text-align: center; /* Выравниваем текст по центру */
    box-sizing: border-box; /* Включаем учет отступов и границ в общую ширину и высоту элементов */
}

.navbar-container {
    position: fixed; /* Фиксируем навигационную панель в верхней части экрана */
    width: 100%; /* Задаем ширину 100% от экрана */
    top: 0; /* Располагаем на самом верху страницы */
    z-index: 10; /* Устанавливаем приоритет отображения над другими элементами */
}

.navbar {
    background-color: #333; /* Устанавливаем цвет фона для навигации */
    padding: 10px 20px; /* Добавляем внутренние отступы */
    display: flex; /* Используем гибкую верстку для выравнивания контента */
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: space-between; /* Распределяем элементы по горизонтали с равным расстоянием */
    position: relative; /* Устанавливаем относительное позиционирование для дочерних элементов */
}

.menu, .language-menu {
    display: flex; /* Используем гибкую верстку для внутренних элементов */
    align-items: center; /* Центрируем элементы по вертикали */
}

.navbar a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-size: 1.1em; /* Увеличиваем размер шрифта */
    margin: 0 15px; /* Добавляем горизонтальные отступы между ссылками */
    transition: color 0.3s; /* Плавный переход цвета при наведении */
}

.navbar a:hover {
    color: #ffcc00; /* Изменяем цвет текста ссылок при наведении */
}

.dropbtn {
    background-color: #333; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px; /* Внутренние отступы кнопки */
    border: none; /* Убираем рамку кнопки */
    cursor: pointer; /* Устанавливаем курсор указателя при наведении */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета и фона при наведении */
}

.dropbtn:hover {
    color: #ffcc00; /* Изменяем цвет текста кнопки при наведении */
}

/* Стили для основного меню */
.main-dropdown-content {
    display: none; /* Прячем выпадающее меню по умолчанию */
    position: absolute; /* Абсолютное позиционирование относительно родителя */
    background-color: #f9f9f9; /* Цвет фона выпадающего меню */
    min-width: 160px; /* Минимальная ширина выпадающего меню */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Тень вокруг выпадающего меню */
    z-index: 1; /* Приоритет отображения над другими элементами */
}

.main-dropdown-content a {
    color: black; /* Цвет текста ссылок в выпадающем меню */
    padding: 12px 16px; /* Внутренние отступы для ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    display: block; /* Делаем ссылки блочными для кликабельности всей области */
}

.main-dropdown-content a:hover {
    background-color: #f1f1f1; /* Цвет фона ссылок при наведении */
    color: #ffcc00; /* Цвет текста ссылок при наведении */
}

.main-menu:hover .main-dropdown-content {
    display: block; /* Показываем выпадающее меню при наведении на основное меню */
}

/* Стили для языкового меню */
.language-dropdown-content {
    display: none; /* Прячем выпадающее меню по умолчанию */
    position: absolute; /* Абсолютное позиционирование относительно родителя */
    right: 0; /* Выровнять по правому краю */
    background-color: #f9f9f9; /* Цвет фона выпадающего меню */
    min-width: 120px; /* Минимальная ширина выпадающего меню */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Тень вокруг выпадающего меню */
    z-index: 1; /* Приоритет отображения над другими элементами */
}

.language-dropdown-content a {
    color: black; /* Цвет текста ссылок в выпадающем меню */
    padding: 8px 12px; /* Внутренние отступы для ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    display: block; /* Делаем ссылки блочными для кликабельности всей области */
}

.language-dropdown-content a:hover {
    background-color: #f1f1f1; /* Цвет фона ссылок при наведении */
    color: #ffcc00; /* Цвет текста ссылок при наведении */
}

.language-dropdown:hover .language-dropdown-content {
    display: block; /* Показываем выпадающее меню при наведении на языковое меню */
}

.container {
    margin-top: 100px; /* Отступ сверху для основного контейнера */
    text-align: center; /* Выравнивание текста по центру */
}

.container h1 {
    font-size: 2.1em; /* Размер шрифта для заголовка */
    margin-bottom: 60px; /* Отступ снизу для заголовка */
    color: #f0f2f0; /* Цвет текста заголовка */
}

.container p {
    font-size: 1.6em; /* Размер шрифта для параграфов */
    color: white; /* Цвет текста параграфов */
}

  /* Стиль таблицы */
table {
    width: 300px; /* Фиксированная ширина */
    max-width: 400px; /* Не разрешаем таблице расширяться больше 300px */
    margin: 20px auto; /* Центрируем таблицу */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень для красоты */
    background-color: #2e2e2e; /* Цвет фона */
}


td {
    padding: 15px 20px;
    text-align: left;
    font-size: 16px;
}

td:first-child {
    font-weight: bold;
    background-color: #3b3b3b;
}

tr:nth-child(even) td {
    background-color: #353578;
}

tr:hover td {
    background-color: #291111;
}

/* Изменение цвета фона всей строки при наведении */
table tr:hover {
    background-color: #444444; /* Цвет при наведении */
    transition: background-color 0.3s; /* Плавное изменение */
}

/* Цвет для двух верхних ячеек */
table tr:first-child td {
    background-color: #333333; /* Цвет верхних ячеек */
}

/* Цвет для остальных ячеек (внизу) */
table tr:not(:first-child) td {
    background-color: #2e2e2e; /* Цвет остальных ячеек */
}
/* Сброс стандартных отступов и установка корректного box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.manifest {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.6;
}

/* Стили для Футера */
.footer-container {
    position: fixed; /* Фиксированное позиционирование */
    bottom: 0; /* Приклеиваем к нижнему краю экрана */
    left: 0; /* Приклеиваем к левому краю */
    width: 100%; /* Занимает всю ширину экрана */
    background-color: #333; /* Цвет фона футера */
    color: white; /* Цвет текста футера */
    text-align: center; /* Центрируем текст */
    padding: 10px 20px; /* Внутренние отступы */
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

/* Стили для текста внутри футера */
.footer-container p {
    font-size: 1.1em; /* Размер шрифта */
    margin: 0; /* Убираем стандартные отступы */
}


.logo-container {
    display: flex;
    justify-content: center; /* Центрирование видео */
    margin-bottom: 20px; /* Добавляет отступ снизу */
}

.video-container {
    padding-bottom: 60px; /* Отступ снизу */
}


video {
    display: block;
    margin: 0 auto;  /* Центрирование */
    max-width: 100%; /* Чтобы не выходило за границы */
}


