<!DOCTYPE html> <!-- Определяет тип документа как HTML5, указывая браузеру, что это HTML5-страница, для корректного отображения. -->
<html lang="en"> <!-- Открывает тег <html> и указывает, что язык контента страницы — английский (en), чтобы поисковые системы и браузеры знали, что это за язык. -->
<head> <!-- Открывает тег <head>, который содержит мета-данные страницы, не отображаемые непосредственно на странице. -->
    <meta charset="UTF-8"> <!-- Устанавливает кодировку страницы как UTF-8, обеспечивая поддержку всех символов, включая кириллицу. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Устанавливает настройки для адаптивного дизайна, чтобы страница корректно отображалась на мобильных устройствах. -->
    <title>About Us</title> <!-- Устанавливает название страницы, которое будет отображаться на вкладке браузера. В данном случае это "About Us" (О нас). -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Ссылается на внешний файл стилей (style.css), который будет применяться к странице. В Flask используется {{ url_for('static', filename='style.css') }} для указания пути к статическим файлам. -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> <!-- Устанавливает иконку сайта (favicon.ico), которая отображается на вкладке браузера. -->
</head>
<body> <!-- Открывает тело страницы, где размещаются все видимые элементы на веб-странице. -->
    <div class="navbar"> <!-- Открывает контейнер для навигационной панели с ссылками на страницы сайта. -->
        <a href="/">Home</a> <!-- Ссылка на главную страницу. Пользователи могут вернуться на главную, кликнув по этой ссылке. -->
        <a href="/about">About Us</a> <!-- Ссылка на текущую страницу "О нас", она выделена для перехода на саму страницу. -->
        <a href="/dayz-server">DayZ Server</a> <!-- Ссылка на страницу, посвященную серверу игры DayZ. -->
        <!-- Кнопки для смены языка -->
        <a href="/set_language/ru">RU</a>
        <a href="/set_language/en">EN</a>
    </div>
    <h1>О нашем сайте!</h1> <!-- Заголовок первого уровня, который информирует о содержимом страницы (О нашем сайте). -->
    <p>А тут о нашем сайте.</p> <!-- Параграф с текстом, который даёт информацию о сайте или компании. Здесь placeholder-текст, указывающий на описание сайта. -->
    <a href="/">На Главную.</a> <!-- Ссылка для возврата на главную страницу, позволяет пользователю вернуться на главную, кликнув по ссылке. -->
</body>
</html> <!-- Закрывает HTML-документ, завершает структуру страницы. -->
