<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="navbar-container">
        <div class="navbar">
            <!-- Основное навигационное меню -->
            <div class="menu">
                <div class="main-menu">
                    <button class="dropbtn">{% trans %}Menu{% endtrans %}</button>
                    <div class="main-dropdown-content">
                        <a href="/">{% trans %}Home{% endtrans %}</a>
                        <a href="/about">{% trans %}About site{% endtrans %}</a>
                        <a href="/dayz-server">{% trans %}About server{% endtrans %}</a>
                        <a href="/oldsg">{% trans %}YouTube{% endtrans %}</a>
                    </div>
                </div>
            </div>

            <!-- Языковое меню -->
            <div class="language-menu">
                <div class="language-dropdown">
                    <button class="dropbtn">{% trans %}EN{% endtrans %}</button>
                    <div class="language-dropdown-content">
                        <a href="{{ url_for('set_language', lang='en') }}">English</a>
                        <a href="{{ url_for('set_language', lang='ru') }}">Русский</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Контейнер для основного контента -->
    <div class="main-container">
        <div class="container">
            <div class="content">
                <h1>{% trans %}О сайте{% endtrans %}.</h1>
            </div>
        </div>

        <!-- Контейнер для манифеста -->
        <div class="manifest-container">
            <div class="manifest">
                <p>
                    {% trans %}This website is the result of my first steps into programming. The project was created with the help of my virtual mentor, who guides me, shares valuable knowledge, and teaches me through hands-on practice. This makes the process more challenging but also much more engaging and exciting. Thank you for visiting!{% endtrans %}
                </p>
            </div>
        </div>
    </div>
        <!-- Контейнер для футера (если нужно будет добавить) -->
    <div class="footer-container">
        <footer>
            <p>&copy; 2025 JeySoN Server. All Rights Reserved.</p>
        </footer>
    </div>
    <script>
    function toggleHamburgerMenu() {
        const menu = document.querySelector('.menu');
        menu.classList.toggle('open');
    }
    </script>
</body>
</html>
