<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayZSERVER</title>
    <!-- Подключение внешнего CSS файла -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Навигационная панель -->
    <div class="navbar">
        <a href="/">
            {% trans %}Home{% endtrans %}
        </a>
        <a href="/about">
            {% trans %}About Us{% endtrans %}
        </a>
        <a href="/dayz-server">
            {% trans %}About srever{% endtrans %}
        </a>

        <!-- Кнопки для смены языка -->
        <div class="dropdown">
            <button class="dropbtn">EN/RU</button>
            <div class="dropdown-content">
                <a href="{{ url_for('set_language', lang='en') }}">English</a>
                <a href="{{ url_for('set_language', lang='ru') }}">Русский</a>
            </div>
        </div>
    </div>

    <!-- Контейнер с содержимым -->
    <div class="container">
        <div class="content">
            <h1>
                {% trans %}Welcome to DayZ Server!{% endtrans %}
            </h1>
            <p>
                {% trans %}Site Version{% endtrans %} 1.03
            </p>
        </div>
    </div>
</body>
</html>
