<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayZSERVER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
            <a href="/">
                {% trans %}Home{% endtrans %}
            </a>
            <a href="/about">
                {% trans %}About Us{% endtrans%}
            </a>
            <a href="/dayz-server">
                {% trans %}DayZ Server{% endtrans %}
            </a>
        <!-- Кнопки для смены языка -->
        <a href="{{ url_for('set_language', lang='ru') }}">RU</a>
        <a href="{{ url_for('set_language', lang='en') }}">EN</a>
    </div>
    <div class="container">
        <div class="content">
            <h1>
                {% trans %}Welcome to DayZ Server!{% endtrans %}
            </h1>
            <p>
                {% trans %}Site Version{% endtrans %} 1.02
            </p>
        </div>
    </div>
</body>
</html>
