<!-- Страничка полностью написана ручками.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSG Channel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Контейнер для навигационной панели -->
    <div class="navbar-container">
        <div class="navbar">
            <a href="/">{% trans %}Home{% endtrans %}</a>
            <a href="/about">{% trans %}About site{% endtrans %}</a>
            <a href="/dayz-server">{% trans %}About server{% endtrans %}</a>
            <a href="/oldsg">{% trans %}OSG Channel{% endtrans %}</a>

            <!-- Кнопки для смены языка -->
            <div class="dropdown">
                <button class="dropbtn">{% trans %}EN{% endtrans %}</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('set_language', lang='en') }}">English</a>
                    <a href="{{ url_for('set_language', lang='ru') }}">Русский</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="container">
            <div class="content">
    <header>
        <h1>OLD School GameZ Channel</h1>
    </header>
                </div>
        </div>
    </div>
    <div class="video-container">
        <div class="video">
            <iframe src="https://www.youtube.com/embed/ID_ВИДЕО"></iframe>
            <h3>Название Видео 1</h3>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/ID_ВИДЕО"></iframe>
            <h3>Название Видео 2</h3>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/ID_ВИДЕО"></iframe>
            <h3>Название Видео 3</h3>
        </div>
    </div>

<!-- Контейнер для футера (если нужно будет добавить) -->
    <div class="footer-container">
        <footer>
            <p>&copy; 2025 JeySoN Server. All Rights Reserved.</p>
        </footer>
    </div>
</body>
</html>
</body>
</html>
